<!DOCTYPE html>
<html lang="en" class="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Notebook | Web Application</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="./css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="./css/app.css" type="text/css">
    <script src="/libs.js"></script>
 </head>
 <body class="vbox">
    @RenderBody()
</body>
</html>
