################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/netcoreapp1.0
/node_modules
/obj/Debug/netcoreapp1.0
/wwwroot
/NotebookAppWeb.xproj.user
/project.lock.json
/.vscode
