<section class="panel panel-default bg-white m-t-lg">
    <header class="panel-heading text-center">
        <strong>Sign in</strong>
    </header>
    <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="panel-body wrapper-lg">
        <div class="alert alert-danger" *ngIf="authError">
            <strong>Error!</strong> Email or password is incorrect!
        </div>
        <div class="alert alert-danger" *ngIf="unknownError">
            <strong>Error!</strong> Unknown problem, please try one more time!
        </div>
        <div class="form-group" [ngClass]="{'has-error':loginForm.controls['userName'].touched && !loginForm.controls['userName'].valid}">
            <label class="control-label">Email</label>
            <input type="email" placeholder="test@example.com"
                   [formControl]="loginForm.controls['userName']"
                   name="userName"
                   class="form-control input-lg">
        </div>
        <div class="form-group" [ngClass]="{'has-error':loginForm.controls['password'].touched &&!loginForm.controls['password'].valid}">
            <label class="control-label">Password</label>
            <input type="password" id="password" placeholder="Password"
                   [formControl]="loginForm.controls['password']"
                   name="password"
                   class="form-control input-lg">
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox"  [formControl]="loginForm.controls['keepMeLoggedIn']" name="keepMeLoggedIn"> Keep me logged in
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
</section>